body {
    display: block;
}

.users_info{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.balance{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.no-gutters {
    padding-right: 0;
    padding-left: 0;
}

.inner {
    width: 50vw;
    background-color: #00224d;
    border-radius: 16px;
    margin: 1vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: normal;
    align-items: baseline
}

.section {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10px;

}


.inner-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom-color: #1b1b1b;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-left-color: #2E2F30;
    border-right: 1px solid;
    border-right-color: #2E2F30;
    padding: 20px;
    height: 65px
}

.header{
    height: fit-content;
}

.inner-section:nth-child(even) {
    background-color: #020543;
}

.inner-section:nth-child(1) {
    background-color: #031836;
    font-weight: bold;
    font-style: italic;
}


input[type="submit" i] {
    color: white;
    background-color: #084298
}

input[type="text" i] {
    color: black;
    background-color: #427bcf;

    width: 150px;
    font-size: 12px;
}

.btn{
    padding: revert;
    line-height: normal;
    margin-right: 3px;
    font-size: small;
}

.btn-primary{
    --bs-btn-bg: #084298;
    --bs-btn-border-color: #4d6487;
    --bs-btn-hover-bg: #427bcf;
    --bs-btn-hover-border-color: #9f9f9f;
}

